<div class="container">
    <div class="title">
        <img width="64" height="64"
            src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/external-arrow-left-web-flaticons-lineal-color-flat-icons-2.png"
            alt="external-arrow-left-web-flaticons-lineal-color-flat-icons-2" style="cursor: pointer;"
            (click)="back()" />
        <h1>Financial Detail</h1>
    </div>
    <div class="infoTopic">
        <!-- <p style="font-size: 50px; font-weight: bold;">{{data.infoTopic}}</p> -->
        <input type="text" class="input-infoTopic"  [(ngModel)]="data.infoTopic" style="font-size: 50px; font-weight: bold;"/>
    </div>
    <div class="salary-container">
        <p style="font-size: 30px; font-weight: bold;">Salary:</p>
        <input type="number" class="salary-value" [(ngModel)]="data.salary" height="30px"
            [disabled]="!_isEdit_Salary" />
        <button class="button-23" type="button" (click)="editSalary()" style="width: 50px;">
            <img width="30" height="30" src="https://img.icons8.com/color/48/edit--v1.png" alt="edit--v1" /></button>
        <button class="button-24" type="button" (click)="saveSalary()" style="width: 50px;">
            <img width="30" height="30" src="https://img.icons8.com/color/48/save--v1.png" alt="save--v1" /></button>
        <p style="font-size: 30px; font-weight: bold;">Use:</p>
        <input type="number" class="salary-value" [(ngModel)]="data.use" height="30px" disabled />
        <p style="font-size: 30px; font-weight: bold;">Balance:</p>
        <input type="number" class="salary-value" [(ngModel)]="data.balance" height="30px" disabled />
    </div>
    <div class="type-container">
        <table class="fl-table">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Value (Bath)</th>
                    <th>Use (Bath)</th>
                    <th>Balance (Bath)</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data.financialTypeList">
                    <td>
                        <span>{{item.type}}</span>
                    </td>
                    <td>
                        <span>{{item.value}} ({{item.percent}}%)</span>
                    </td>
                    <td>
                        <span>{{item.use}}</span>
                    </td>
                    <td>
                        <span>{{item.balance}}</span>
                    </td>
                </tr>
                <tr *ngIf="data.financialTypeList.length <= 0">
                    <td colspan="11">No data</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="add-container">
        <button class="button-25" type="button" (click)="add()" style="width: 100px;">
            <img width="48" height="48" src="https://img.icons8.com/doodle/48/add.png" alt="add" /></button>
    </div>
    <div class="detail-container">
        <table class="detail-table">
            <thead>
                <tr>
                    <th style="width: 150px;"></th>
                    <th>typeId</th>
                    <th>Topic</th>
                    <th>Amount (Bath)</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data.financialDetailList">
                    <td style="display: flex; gap: 10px; justify-content:center">
                        <button class="button-23" type="button" (click)="editDetail(item)" *ngIf="!item._IsEdit">
                            <img width="30" height="30" src="https://img.icons8.com/color/48/edit--v1.png"
                                alt="edit--v1" /></button>
                        <button class="button-26" type="button" (click)="remove(item)" *ngIf="!item._IsEdit">
                            <img width="30" height="30"
                                src="https://img.icons8.com/fluency-systems-filled/48/delete-forever.png"
                                alt="delete-forever" />
                        </button>
                        <button class="button-24" type="button" (click)="saveChangeDetail(item)" *ngIf="item._IsEdit">
                            <img width="30" height="30" src="https://img.icons8.com/color/48/save--v1.png"
                                alt="save--v1" />
                        </button>
                        <button class="button-25" type="button" (click)="reserveBtn(item)" *ngIf="item._IsEdit">
                            <img width="30" height="30" src="https://img.icons8.com/officel/30/return.png"
                                alt="return" />
                        </button>
                    </td>
                    <td>
                        <select [(ngModel)]="item.typeId" style="width: 70%; padding: 5px; border-radius: 5px;" [disabled]="!item._IsEdit">
                            <option *ngFor="let type_item of data.financialTypeList" [value]="type_item.typeId">
                                {{type_item.type}}</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" class="input-detail" [(ngModel)]="item.topic" [disabled]="!item._IsEdit" />
                    </td>
                    <td>
                        <input type="number" class="input-detail" [(ngModel)]="item.amount" [disabled]="!item._IsEdit" />
                    </td>
                </tr>
                <tr *ngIf="data.financialDetailList.length <= 0">
                    <td colspan="11">No data</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="bottom-container">
        <button class="button-23" type="button" (click)="cal()" style="width: 100px;">
            <img width="30" height="30" src="https://img.icons8.com/officel/30/calculator.png"
                alt="calculator" /></button>
        <button class="button-24" type="button" (click)="save()" style="width: 100px;">
            <img width="30" height="30" src="https://img.icons8.com/officexs/30/save-as.png" alt="save-as"/></button>
    </div>
</div>